#task-body{
    margin-left: 5em;
    margin-top:3em
}
#newTaskField{
    display: flex;
}
.form-control{
    width: 10em;
    background-color: aqua;
    border: 1px solid black
}
.listItem{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    margin: .5em;
    bottom: 1em
}
#tasks-display{
    display: flex;
    flex-wrap: wrap
}
.align-btn{
    margin: 1em;
    margin-top: -.4em
}
#checkbox{
 margin-top: 1.5em
}